ICDCHOST=icdc.org
GOOGLE_C_SECRET=UPDATE_WITHYOUR_VALUE
GOOGLE_C_ID=UPDATE_WITH_YOUR_VALUE
AWS_ACCESS_KEY_ID=UPDATE_WITH_YOUR_VALUE
AWS_SECRET_ACCESS_KEY=UPDATE_WITH_YOUR_VALUE
S3_BUCKET_NAME=UPDATE_WITH_YOUR_VALUE
INDEXD_HOST=http:\/\/icdc.org\/index\/
